/**
 * This Source Code Is Written By Aoun Alazzam Under MIT License
 */

* {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Raleway", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

div#root {
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}
